<section class="call-to-action-section container">
    <h2>Siz de Kitap Dünyası'na Katılın!</h2>
    <p>Okuma serüveninizi bir üst seviyeye taşıyın. Binlerce kitaba erişin, kendi yorumlarınızı paylaşın ve yeni okuma arkadaşları edinin.</p>
    <a href="#kayit-ol" class="btn auth-btn-primary">Hemen Ücretsiz Katıl</a>
</section>